# This is initially compiled from the following sources:
# from: https://gist.github.com/867648

Development_resources
.DS_Store
*.swp
*~.nib

build/
#Three20/
*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

#Xcode 4:
xcuserdata
Documentation/Generated
doxygenWarnings.txt
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad

#Data noise:

*.act
*.act_
*.cmc
*.cmc_
*.bfs
*.bfs_
*.gps
*.gps_